{
  "name": "name: 日本高速J",
  "tls": "on",
  "status": "on",
  "domain": "v2us.j.ssnss.live",
  "encrypt": "auto",
  "uuid": "2c39a8e3-deb4-4806-a2f0-c25f007c9116",
  "ip": "",
  "mux": "on",
  "secret": "44369f5382d51e6fcc4c254d1fc43820",
  "protocol": "vmess",
  "trans": "websocket",
  "port": "443"
}
